body {
  font-family: sans-serif;
  color: #222;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0 0 0.35em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

p {
  margin: 0 0 1.15em;
}

.main{
  width: "100%";
  display: "flex";
}
.items{
  height: 100%;
  /* width: 1049px; */
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
}
/* .header {
  top: "0";
  left: "auto";
  position: "sticky";
  display: "flex";
  justify-content: "center";
  width: "100%";
  z-index: 999;
} */
.routes{
  display: "block";
  width: "100%";
  margin-top: 2em;
  margin-left: 260px;
}